body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    text-align: center;
}

header {
    background-color: #e74c3c;
    color: white;
    padding: 30px;
}

.produto {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.preco {
    display: block;
    color: #27ae60;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 15px 0;
}

.btn-adicionar {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}